ncmpcpp/.config/ncmpcpp/*.log

ncmpcpp/.config/ncmpcpp/error.log
nvim/.config/nvim/lazy-lock.json
zellij/.config/zellij/plugins/zjstatus/target/.rustc_info.json
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.zcompcache/
nvim/.config/nvim/spell
aerc/.config/aerc/accounts.conf
w3m/.w3m/cookie
w3m/.w3m/*.html
scripts/.scripts/m4a2mp3.sh
scripts/.scripts/.env
qutebrowser/.config/qutebrowser/autoconfig.yml
ghostty/.config/ghostty/themes/wal
river/.config/river/colors
swaync/.config/swaync/colors.css
waybar/.config/waybar/colors.css
fuzzel/.config/fuzzel/colors
qutebrowser/.config/qutebrowser/autoconfig.yml
qutebrowser/.config/qutebrowser/bookmarks/urls
