# ~/.config/starship.toml

# Use custom format
format = '''
[$username@$hostname](purple) $directory $git_branch$git_state$git_metrics$git_status $fill$time  
[\$](bold green) 
'''

right_format = "$character"

follow_symlinks = true

# Wait 10 milliseconds for starship to check files under the current directory.
scan_timeout = 10

# Disable the blank line at the start of the prompt
add_newline = true

[fill]
symbol = " "

[username]
style_user = "cyan bold"
style_root = "red bold"
format = "[$user]($style)"
disabled = false
show_always = true

[hostname]
ssh_only = false
format = '[$hostname$ssh_symbol](cyan bold)'
ssh_symbol = " 󰣀 "
disabled = false

[time]
disabled = false
style = "bold blue"
format = '[$time]($style)'
time_format = '%T'
# utc_time_offset = '-5'
# time_range = '10:00:00-14:00:00'

[cmd_duration]
min_time = 0
format = '[$duration](lightgrey)'
show_milliseconds = true
disabled = true

[character]
format = '$symbol'
success_symbol = ''
error_symbol = ''
vimcmd_symbol = '[--NORMAL--](bold green)'
vimcmd_visual_symbol = '[--VISUAL--](bold purple)'
vimcmd_replace_one_symbol = '[--REPLACE--](bold green)'
vimcmd_replace_symbol = '[--REPLACE--](bold red)'
disabled = false

[directory]
read_only = " 󰌾"
format = '[$path$read_only]($style)'
style = "purple bold"
repo_root_format = '[$repo_root]($repo_root_style)[$path$read_only]($style)'
repo_root_style = "yellow"
truncate_to_repo = true
truncation_length = 100
use_logical_path = false

# nerd font icons
[aws]
symbol = "  "

[buf]
symbol = " "

[bun]
symbol = " "

[c]
symbol = " "

[cpp]
symbol = " "

[cmake]
symbol = " "

[conda]
symbol = " "

[crystal]
symbol = " "

[dart]
symbol = " "

[deno]
symbol = " "

[docker_context]
symbol = " "

[elixir]
symbol = " "

[elm]
symbol = " "

[fennel]
symbol = " "

[fossil_branch]
symbol = " "

[gcloud]
symbol = "  "

[git_branch]
symbol = " "
format = "on [$symbol$branch(:$remote_branch)]($style) "

[git_state]
format = "\\([$state( $progress_current/$progress_total)]($style)\\) "

[git_metrics]
format = "([+$added]($added_style) )([-$deleted]($deleted_style) )"

[golang]
symbol = " "

[guix_shell]
symbol = " "

[haskell]
symbol = " "

[haxe]
symbol = " "

[hg_branch]
symbol = " "

[java]
symbol = " "

[julia]
symbol = " "

[kotlin]
symbol = " "

[lua]
symbol = " "

[memory_usage]
symbol = "󰍛 "

[meson]
symbol = "󰔷 "

[nim]
symbol = "󰆥 "

[nix_shell]
symbol = " "

[nodejs]
symbol = " "

[ocaml]
symbol = " "

[os]
style = "bold yellow"
format = "[$symbol$type]($style)"
disabled = true

[os.symbols]
Alpaquita = " "
Alpine = " "
AlmaLinux = " "
Amazon = " "
Android = " "
Arch = " "
Artix = " "
CachyOS = " "
CentOS = " "
Debian = " "
DragonFly = " "
Emscripten = " "
EndeavourOS = " "
Fedora = " "
FreeBSD = " "
Garuda = "󰛓 "
Gentoo = " "
HardenedBSD = "󰞌 "
Illumos = "󰈸 "
Kali = " "
Linux = " "
Mabox = " "
Macos = " "
Manjaro = " "
Mariner = " "
MidnightBSD = " "
Mint = " "
NetBSD = " "
NixOS = " "
Nobara = " "
OpenBSD = "󰈺 "
openSUSE = " "
OracleLinux = "󰌷 "
Pop = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
RockyLinux = " "
Redox = "󰀘 "
Solus = "󰠳 "
SUSE = " "
Ubuntu = " "
Unknown = " "
Void = " "
Windows = "󰍲 "

[package]
symbol = "󰏗 "

[perl]
symbol = " "

[php]
symbol = " "

[pijul_channel]
symbol = " "

# [pixi]
# symbol = "󰏗 "

[python]
symbol = " "

[rlang]
symbol = "󰟔 "

[ruby]
symbol = " "

[rust]
symbol = "󱘗 "

[scala]
symbol = " "

[swift]
symbol = " "

[zig]
symbol = " "

[gradle]
symbol = " "
