@import url(./colors.css);

* {
  all: unset;
  font-size: 16px;
  font-family:
    JetBrainsMono Nerd Font,
    Blobmoji;
  transition: 200ms;
}

.notification {
    border: 2px solid var(--color1);
}

.floating-notifications.background .notification-row .notification-background {
  box-shadow:
    0 0 8px 0 rgba(0, 0, 0, 0.8),
    inset 0 0 0 1px var(--background);
  border-radius: 0px;
  margin: 12px;
  background-color: var(--background);
  /*background: transparent;*/
  color: var(--foreground);
  padding: 0;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification {
  padding: 7px;
  border-radius: 0px;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification.critical {
  box-shadow: inset 0 0 7px 0 var(--color5);
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content {
  margin: 2px;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  color: var(--foreground);
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .time {
  color: var(--color1);
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  color: var(--foreground);
}

.notification-row
  .notification-background
  .notification
  .notification-default-action
  .notification-content
  .text-box
  .summary {
  /* Notification summary/title */
  font-size: 17px;
  font-weight: bold;
  background: transparent;
  text-shadow: none;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3.4em;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 0px;
  color: var(--foreground);
  background-color: var(--background);
  box-shadow: inset 0 0 0 1px var(--color1);
  margin: 7px;
  transition-timing-function: ease-in-out;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  box-shadow: inset 0 0 0 1px var(--color1);
  background-color: var(--background);
  color: var(--foreground);
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  box-shadow: inset 0 0 0 1px var(--color1);
  background-color: #83a598;
  color: var(--foreground);
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 0px;
  color: var(--background);
  background-color: var(--color5);
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:hover {
  background-color: var(--foreground);
  color: var(--background);
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:active {
  background-color: var(--color5);
  color: var(--background);
}

.control-center {
  box-shadow:
    0 0 8px 0 rgba(0, 0, 0, 0.9),
    inset 0 0 0 1px var(--background);
  border-radius: 0px;
  margin: 18px;
  background-color: var(--background);
  color: var(--foreground);
  padding: 14px;
}

.control-center .widget-title {
  color: var(--foreground);
  font-size: 1.3em;
}

.control-center .widget-title button {
  border-radius: 0px;
  color: var(--foreground);
  background-color: var(--background);
  box-shadow: inset 0 0 0 1px var(--color1);
  padding: 8px;
}

.control-center .widget-title button:hover {
  box-shadow: inset 0 0 0 1px var(--color1);
  background-color: #98971a;
  color: var(--foreground);
}

.control-center .widget-title button:active {
  box-shadow: inset 0 0 0 1px var(--color1);
  background-color: #83a598;
  color: var(--background);
}

.control-center .notification-row .notification-background {
  border-radius: 0px;
  color: var(--foreground);
  background-color: var(--background);
  box-shadow: inset 0 0 0 1px var(--color1);
  margin-top: 14px;
}

.control-center .notification-row .notification-background .notification {
  padding: 7px;
  border-radius: 0px;
}

.control-center
  .notification-row
  .notification-background
  .notification.critical {
  box-shadow: inset 0 0 7px 0 var(--color5);
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content {
  margin: 7px;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  color: var(--foreground);
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .time {
  color: var(--color1);
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  color: var(--foreground);
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3.4em;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 0px;
  color: var(--foreground);
  background-color: var(--background);
  box-shadow: inset 0 0 0 1px var(--color1);
  margin: 7px;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  box-shadow: inset 0 0 0 1px var(--color1);
  background-color: var(--background);
  color: var(--foreground);
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  box-shadow: inset 0 0 0 1px var(--color1);
  background-color: #83a598;
  color: var(--foreground);
}

.control-center .notification-row .notification-background .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 0px;
  color: var(--background);
  background-color: var(--foreground);
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: var(--color5);
  color: var(--background);
}

.control-center
  .notification-row
  .notification-background
  .close-button:active {
  background-color: var(--color5);
  color: var(--background);
}

.control-center .notification-row .notification-background:hover {
  box-shadow: inset 0 0 0 1px var(--color1);
  background-color: #458588;
  color: var(--foreground);
}

.control-center .notification-row .notification-background:active {
  box-shadow: inset 0 0 0 1px var(--color1);
  background-color: #83a598;
  color: var(--foreground);
}

progressbar,
progress,
trough {
  border-radius: 0px;
}

progressbar {
  box-shadow: inset 0 0 0 1px var(--color1);
}

.notification.critical progress {
  background-color: var(--color5);
}

.notification.low progress,
.notification.normal progress {
  background-color: #458588;
}

trough {
  background-color: var(--background);
}

.control-center trough {
  background-color: var(--color1);
}

.control-center-dnd {
  margin-top: 5px;
  border-radius: 0px;
  background: var(--background);
  border: 1px solid var(--color1);
  box-shadow: none;
}

.control-center-dnd:checked {
  background: var(--background);
}

.control-center-dnd slider {
  background: var(--color1);
  border-radius: 0px;
}

.widget-dnd {
  margin: 0px;
  font-size: 1.1rem;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 0px;
  background: var(--background);
  border: 1px solid var(--color1);
  box-shadow: none;
}

.widget-dnd > switch:checked {
  background: var(--background);
}

.widget-dnd > switch slider {
  background: var(--color1);
  border-radius: 0px;
  border: 1px solid var(--color10);
}

.notification-row
  .notification-background
  .notification
  .notification-default-action
  .notification-content
  .image {
  /* Notification Primary Image */
  -gtk-icon-effect: none;
  border-radius: 0px;
  /* Size in px */
  margin: 10px;
}
