@define-color foreground #ffffff;
@define-color background #040404;
@define-color cursor #ffffff;

@define-color color0 #1C1E26;
@define-color color1 #E4A382;
@define-color color2 #E4A382;
@define-color color3 #24A8B4;
@define-color color4 #B072D1;
@define-color color5 #E93C58;
@define-color color6 #DF5273;
@define-color color7 #E4A382;
@define-color color8 #8791ac;
@define-color color9 #E4A382;
@define-color color10 #E4A382;
@define-color color11 #24A8B4;
@define-color color12 #B072D1;
@define-color color13 #E93C58;
@define-color color14 #DF5273;
@define-color color15 #E4A382;
